@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #5DA851, #92F582);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3b6435;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #CE8EF5;
    text-shadow: 1px 1px 2px #5d4170;
}

h2 {
    color: #A8A072;
}

p {text-align: justify;
}

